/* p.error{
    color: red;
}
p.success{
    color: rgb(31, 221, 31);
}
p.success.feedback{
    color: blue;
    border: 1px dashed green;
} */

/* #content{
    color: purple;
} */
 /* div .error{
    color: red;
 } */

 /* a[href="https://www.google.com"] {
    color: green;
    text-decoration: dashed;
 } */

 a[href="https://squareenix.com"]{
    color: purple;
    text-transform: uppercase;
 }
 a[href$=".com"]{
    background-color: aqua;
 }
 a[href*="google"]{
    text-transform: lowercase;
 }