body{
    background-color: blue;
    background-image:url(https://blog.playstation.com/tachyon/2024/03/316260704c01d61476384b92218581536c3701ca.jpg?resize=1088%2C612&crop_strategy=smart&zoom=1.5);
}

div{
    background-color: green;
}